{% for comment in comments %}
        <div class="row my-2">
          <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded">
              <div class="d-flex text-muted py-2 px-2">
                <!-- user metadata -->
                <img style="width: 75px; height: 80px;" class="image-fluid rounded-circle account-img-sidebar" src="{{comment.user.profile.profile_picture.url}}" alt="{{comment.user.username}} profile picture">
                <div class="pb-3 mb-0 small lh-sm w-100">
                  <div class="d-flex">
                    <a href="{% url 'user-questions' comment.user.id %}">
                      <strong class="text-gray-dark"> @{{comment.user.username}}</strong>
                    </a>
                  </div>
                  <span class="d-block">{{comment.date_created|timesince}}</span>
                </div>
              </div>
              <div class="card-body">
                <small>Replied to: "{{ comment.question }}"</small><br>
                <p>{{comment}}</p>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <h4>No recent activity</h4>
{% endfor %}