{%extends 'base.html'%} {% load bootstrap5 %} {% load static%} {% block content%}
<div class=" container mt-4 ">
  <div class="row gy-5">
    <div class="col">
      <div class="border p-2 rounded shadow">
        <h4>Browse</h4>
        {% include 'topic_component.html'%}
      </div>
    </div>
    <div class="col-7">
        {% include 'feed_component.html'%}
    </div>
    <div class="col">
      <h4>Recent activity </h4>
      {% include 'activity_component.html'%}
    </div>
  </div>
</div>{% include 'pagination.html' %} {% endblock %}