{% load static %}
<nav class="navbar navbar-expand-lg"  style="background: #F6F7EB; color: #FFFFFF; font-weight: bold; font-size: 17px;">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-dark" aria-current="page" href="/home">Home</a>
        </li>
        {% if user.is_authenticated %} {% if user.profile.profile_picture %}
        <li class="nav-item">
          <img
            class="img-responsive rounded-pill"
            src="{{user.profile.profile_picture.url}}"
            alt=""
            style="height: 40px; width: 40px"
          />
        </li>
        {% else %}
        <li class="nav-item">
          <img
            class="img-responsive rounded-pill"
            src="{% static 'images/Sarah.jpeg' %}"
            alt=""
            style="height: 40px; width: 40px"
          />
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link text-dark" href="/profile-update">{{user.username|title}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'logout'%} ">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-dark" href="/accounts">Login</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          name="query"
          placeholder="Search..."
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
