{%extends 'base.html'%} {% load bootstrap5 %} {% load static%} {% block content%}
<div class=" container mt-4 ">
  <div class="row gy-5">
    <div class="col">
      <div class="border p-2 rounded shadow">
        <h4>Browse</h4>
        {% include 'topic_component.html'%}
      </div>
    </div>
    <div class="col-7">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img class="image-fluid avatar-img" src="{{poster.profile.profile_picture.url}}" alt="{{poster.username}} profile pic"/>
            </div>
          </div>
          <div class="profile__info">
            <h3>{{poster.email}}</h3>
            <p>@{{poster.username}}</p>
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{poster.profile.bio}}
            </p>
          </div>
        </div>
        <h3>Questions posted: </h3>
        {% include 'feed_component.html'%}
    </div>
    <div class="col">
      <h4>Recent activity </h4>
      {% include 'activity_component.html'%}
    </div>
  </div>
</div> {% endblock %}