{%extends "django_registration/base.html"%} {% load bootstrap5 %} {% block content %}
<div class="container">
    <div style="margin-top: 30px;" class="row signs">
        <!-- Empty div -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Password or Username is incorrect </p>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">Login</h3>
                </div>


                <div class="panel-body">

                    <form style="color: #FFFFFF;" action="/accounts/login/" method="post">
                        {% csrf_token %} {% bootstrap_form form%}

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Login">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>
                </br>

                <p>Don't have an account? Create one <a href="/accounts/register">here.</a></p>

                </div>

            </div>

        </div>
        <!-- empty div -->
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}