.detail-main {
    background: #f6fff8;
    height: 100vh;
    overflow: scroll;
}

.detail-pic {
    height: 40px;
    width: 40px;
}

.detail-date {
    float: right;
    margin-right: 50px;
}

.detail-image {
    height: 500px;
    width: 90%;
    border-radius: 10px;
}

.detail-card {
    background: #F6F7EB;
    margin-top: 10px;
}

.detail-cardbody {
    text-align: center;
}

.detail-com {
    margin-left: 50px;
    cursor: pointer;
}

.fa-comments {
    color: #9aa800;
}

.detail-topic {
    text-align: center;
    border: 1px solid #9aa800;
    width: 150px;
    margin-right: 50px;
    background: #D4E4BC;
    border-radius: 10px;
    float: right;
}

.comment-card {
    background: #F6F7EB;
    margin-top: 10px;
}

.modal-content {
    background: #f6fff8;
    text-align: center;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .btn {
    text-align: center;
    font-size: 1.3rem;
    border-radius: 3px;
    transition: all 0.5s;
    padding: 1.3rem 2.5rem;
  }
  
  nav {
    display: flex;
    width: inherit;
    height: inherit;
  }

  .nav-dropdown-menu > a {
    display: flex;
    padding: 1rem 0 1rem 0.5rem;
  }

  .nav-link {
    color: var(--black-600);
    font-weight: 400;
/*==============================
=>  Profile
================================*/
.avatar {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--color-main);
  }

  .avatar img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .avatar::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-gray);
    z-index: 111;
    border-radius: 50%;
    border: 0.3rem solid var(--color-dark);
  }

  .avatar.active::after {
    background-color: var(--color-success);
  }

  .avatar.avatar--small img {
    width: 2.8rem;
    height: 2.8rem;
  }

  .avatar.avatar--small:after {
    width: 0.7rem;
    height: 0.7rem;
    bottom: 0px;
    right: -6px;
  }

  .avatar.avatar--medium img {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
  }

  .avatar.avatar--medium:after {
    width: 0.7rem;
    height: 0.7rem;
    bottom: 0px;
    right: -6px;
  }

  .avatar.avatar--large img {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .avatar.avatar--large:after {
    width: 1rem;
    height: 1rem;
    bottom: 2px;
    right: 3.5px;
  }

  .avatar-img {
    width: 64px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

.profile {
    margin-bottom: 3rem;
  }

  .profile__avatar {
    text-align: center;
  }

  .profile__info {
    text-align: center;
  }

  .profile__info h3 {
    font-size: 2rem;
    color: var(--color-light);
    font-weight: 400;
  }

  .profile__info p {
    color: var(--color-main);
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .profile__about {
    margin-top: 2rem;
  }

  .profile__about h3 {
    text-transform: uppercase;
    color: var(--color-dark-light);
    margin-bottom: 0.5rem;
  }